<!--  
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<div *ngFor="let device of devices">
		<ngb-panel title="{{device.name}}">
		    <ng-template ngbPanelContent>
		      <app-top-menus [name]="device.name"></app-top-menus>
		    </ng-template>
  		</ngb-panel>
	</div>
</ngb-accordion>
-->

<div *ngFor="let troubleCode of troubleCodes">
	<button (click)="showtroubleDetails($event)">{{troubleCode.name}}</button>
</div>

<!-- 
<select [(ngModel)]="chosentroubleCode" name="troubleCode">
        <option *ngFor="let troubleCode of troubleCodes">
          <button (click)="showtroubleDetails($event)">"{{troubleCode.name}}"</button>
        </option>
</select>
-->
      
