table{
  background-color:blue;
  border-spacing: 20px;
  border:20px #bcc1e7;
}

/*
td{
  border:20px #bcc1e7;
  background-color:#bcc1e7;
}
*/

h6{
	color :#1f85d8;
}
label{
	color:grey;
}




