<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="telemetryView.css">
<title>Telemetry View</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/uiapp.js"></script>
</head>
<body>
	<div ng-app="telemetryApp" ng-controller="telemetryController">
		<table>
			<tr>
				<td><img src="intellipredikt.ico" width="42" height="42">
					<h1>Intellipredikt</h1></td>
				<td><h1>Telemetry data</h1></td>
			</tr>
			<tr>
				<td>
					<table>
						<tr ng-repeat="device in devices">
							<td>
								<p>
									<button ng-click="onDeviceSelect(device)">
										<h3>{{device.name}}</h3>
									</button>
								<p>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td ng-repeat="form in displayForms">
								<div class="tab">
									<button class="tablinks" ng-click="onDisplaySelect(form)">{{form}}</button>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><h2>Selected {{selectedDisplay}} of device
						{{selectedDevice}}</h2></td>
			</tr>
		</table>
	</div>
</body>
</html>