h6{
	color :#1f85d8;
	align:center;
	background-color:#bcc1e7;
}


table{
	width:100%;
	height:180px;
	
}

td{
	border:1px #bcc1e7;
	height:10px;
}

div{
	height : 215px;
	border:2px solid grey;
}