table{
	width:100%;
	table-layout: fixed;
	background-color:white;
}

td{
	border:0px #f8f8fa;
}

div{
	height : 150px;
	overflow-y: auto;
	border:2px solid grey;
	background-color: white;
	overflow-x: auto;
}
