<table  style="background-color:blue">
	<tr>
		<td width="30%">
			<table>
				<tr>
					<th>
						<b>General Status </b>
					</th>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<b>Duration  </b>
					</td>
					<td>
						  {{ min && min[0]}}M : {{ min && min[1]}}S 
					</td>
				</tr>
				<tr>
					<td>
						<b>Odometer Value</b>
					</td>
					<td>
						 {{pageInfoList && (pageInfoList.Odometer_Val.length > 0)?pageInfoList.Odometer_Val[pageInfoList.Odometer_Val.length - 1].value:0}}
					</td>
				</tr>
				<tr>
					<td>
						<b>IMEI Number</b>
					</td>
					<td>
						 {{pageInfoList && (pageInfoList.IMEI_number.length > 0)?pageInfoList.IMEI_number[pageInfoList.IMEI_number.length - 1].value:0}}
					</td>
				</tr>
				<tr>
					<td>
						<b>Vehicle VIN</b>
					</td>
					<td>
						 {{pageInfoList && (pageInfoList.Vehicle_VIN.length > 0)?pageInfoList.Vehicle_VIN[pageInfoList.Vehicle_VIN.length - 1].value:0}}
					</td>
				</tr>
			</table>
		</td>
		<td  width = "1%"></td>
		<td>
			<app-vehicle-health [pageInfoList] = "pageInfoList"></app-vehicle-health>
		</td>
	</tr>
</table>
