table{
	width:100%;
	table-layout: fixed;
  	background-color:white;
}


td{
	border:0px #f8f8fa;
}


h5{
	align:center;
	color :black;
}

button{
	color : white;
	background-color:blue;
	border-radius: 12px;
	width:100px;
	align:center;
}

div{
	height : 250px;
	overflow-y: scroll;
	border:0px solid grey;
	background-color: white;
	overflow-x: auto;
}
