	<table>
	<tr>
		<th>
			<b>Vehicle Health</b>
		</th>
	</tr>
	</table>
	<table>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<b>Vehicle_ECT</b>
			</td>
			<td>
				{{pageInfoList.Vehicle_ECT && (pageInfoList.Vehicle_ECT.length > 0)?pageInfoList.Vehicle_ECT[pageInfoList.Vehicle_ECT.length - 1].value:0}}
			</td>
		</tr>
		<tr>
			<td>
				<b>Bat_Volt_Sts</b>
			</td>
			<td>
				{{pageInfoList.Bat_Volt_Sts && (pageInfoList.Bat_Volt_Sts.length > 0)?pageInfoList.Bat_Volt_Sts[pageInfoList.Bat_Volt_Sts.length - 1].value:0}}
			</td>
		</tr>
		<tr>
			<td>
				<b>MIL_Status</b>
			</td>
			<td>
				{{pageInfoList.MIL_Status && (pageInfoList.MIL_Status.length > 0)?pageInfoList.MIL_Status[pageInfoList.MIL_Status.length - 1].value:0}}
			</td>
		</tr>
		<tr>
			<td>
				<b>No_Of_DTC_Prs</b>
			</td>
			<td>
				{{pageInfoList.No_Of_DTC_Prs && (pageInfoList.No_Of_DTC_Prs.length > 0)?pageInfoList.No_Of_DTC_Prs[pageInfoList.No_Of_DTC_Prs.length - 1].value:0}}
			</td>
		</tr>
	</table>
