	<table>
	<tr>
		<th>
			<b>Vehicle Health</b>
		</th>
	</tr>
	</table>
	<table>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<b>Vehicle_ECT</b>
			</td>
			<td>
				{{pageInfo && pageInfo.Vehicle_ECT}}
			</td>
		</tr>
		<tr>
			<td>
				<b>Bat_Volt_Sts</b>
			</td>
			<td>
				{{pageInfo && pageInfo.Bat_Volt_Sts}}
			</td>
		</tr>
		<tr>
			<td>
				<b>MIL_Status</b>
			</td>
			<td>
				{{pageInfo && pageInfo.MIL_Status}}
			</td>
		</tr>
		<tr>
			<td>
				<b>No_Of_DTC_Prs</b>
			</td>
			<td>
				{{pageInfo && pageInfo.No_Of_DTC_Prs}}
			</td>
		</tr>
	</table>
