table, th{
	border: 0px solid grey;
	

}

td{
	/*border: 1px solid grey;*/
	height:35px;
	text-align: center;
	
}
.special {
	border: 1px solid grey;
	background-color: rgb(0, 255, 115);
}
h3{
	color:red;
	background-color: rgb(0, 255, 115);
}
div{
	height : 600px;
	overflow-y: scroll;
	border:1px solid grey;
	background-color: white;
}