<h2 align="center">Driver Behaviour</h2>
<div>
		<table  width="100%">
			<tr>
				<td width="1%"></td>
				<td></td>
			</tr>
			<tr>
			<td ></td>
					<td ></td>
					<td class="special">
						<h6><b>Harsh_Braking_Cnt:</b></h6>
					
							 {{pageInfo && pageInfo.Harsh_Breaking_Cnt}}
							
					</td>
					<td width="10%"></td>
		
					<td class="special">
							<h6><b>Harsh Accel_Cnt:</b></h6>
						
								 {{pageInfo && pageInfo.Harsh_Accel_Cnt}}
								 								
						</td>
		
			</tr>
			<tr>
					<td width="2%"></td>
			</tr>
			<tr>
					<td width="1%"></td>
			</tr>
			<tr>
					<td width="1%"></td>
					<td class="special">
						<h6><b> Swirving_Event_Cnt:</b></h6>
					
							 {{pageInfo && pageInfo.Swirving_Event_Cnt}}
							
					</td>
					<td width="15%"></td>
					<td width="10%"></td>
					<td width="20%"></td>
					
				<!--	<td class="special">
							<h6><b>Battery_Disconnnect_Event_Cnt:</b></h6>
						
								 {{driverBehaviour[8].value}}
								
						</td>-->
						<td class="special">
							<h6><b>Long_Idling_Cnt:</b></h6>
						
								 {{pageInfo && pageInfo.Long_Idling_Cnt}}
								
						</td>
						<td width="2%"></td>
								</tr>
				<tr>
						<td width="1%"></td>
				</tr>
				<tr>
						<td width="1%"></td>
				</tr>
				<tr>
						<td width="1%"></td>
						<td class="special">
							<h6><b>Short_Idling_Cnt:</b></h6>
						
								 {{pageInfo && pageInfo.Short_Idling_Cnt}}
								
						</td>
						<td width="10%"></td>
						<td >
								<h3><b>Driver Score:</b>
							
									 {{pageInfo && pageInfo.Harsh_Breaking_Cnt}}
									 </h3>
									
							</td>
						<td width="10%"></td>
						
						<td class="special">
								<h6><b>Engine_Braking_Event_Cnt:</b></h6>
							
									 {{pageInfo && pageInfo.Eng_Breaking_Event_Cnt}}
									
							</td>
					</tr>
					<tr>
							<td width="1%"></td>
					</tr>
					<tr>
							<td width="1%"></td>
					</tr>
					<tr>
							<td width="1%"></td>
							<td class="special">
								<h6><b>Bat_Discon_Event_Cnt:</b></h6>
							
									 {{pageInfo && pageInfo.Bat_Discon_Event_Cnt}}
									
							</td>
							<td width="10%"></td>
							<td width="15%"></td>
							<td width="10%"></td>
							
							<td class="special">
									<h6><b>Engine_High_Rev_Cnt:</b></h6>
								
										 {{pageInfo && pageInfo.Eng_High_Rev_Cnt}}
										
								</td>
						</tr>
						<tr>
								<td width="1%"></td>
						</tr>
						<tr>
								<td width="1%"></td>
						</tr>
					<tr>
		
							<td width="1%"></td>
							<td width="22%"></td>
							<td class="special">
								<h6><b>Over_Speeding_Lvl1_Cnt:</b></h6>
							
									 {{pageInfo && pageInfo.Over_Speeding_Lvl1_Cnt}}
									
							</td>
							<td width="1%"></td>
				
							<td class="special">
									<h6><b>Over_Speeding_Lvl2_Cnt:</b></h6>
								
										 {{pageInfo && pageInfo.Over_Speeding_Lvl2_Cnt}}
										
								</td>
				
					</tr>
		</table>
		</div>
