table{
  table-layout: fixed;
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  background-color:#ffffff;
  
}

td{
  border: 10px solid #ffffff;
  border-collapse: collapse;
  padding: 5px;
}

h6{
	color :#1f85d8;
}

p{
	height:200px;
}


