table{
  table-layout: fixed;
  border: 5px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width:100%;
  background-color:#ffffff;
  
}

td{
  border: 0px solid #e4e4f1;
  border-collapse: collapse;
  padding: 5px;
  border-radius: 12px;
}

h6{
	color :#1f85d8;
}

p{
	height:400px;
}

button{
	color : #1f85d8;
	background-color:#e9e7fe;
	border-radius: 12px;
	width:170px;
}