table{
  border: 1px #000000;
  border-collapse: collapse;
  padding: 5px;
  width:100%;
  background-color:#bcc1e7;
}

td{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

h1{
	color:#1f85d8;
	
}

button{
	color : #fff7fb;
	background-color:#800080;
}

.btn-default {
  color: #1f85d8;
  background-color: #e9e7fe;
	height:60px;
	width:220px;
	border-radius: 12px;
}

.btn-clicked {
	border: 3px solid #1f85d8;
  color: #1f85d8;
  background-color: #e9e7fe;
  	height:60px;
	width:220px;
	border-radius: 12px;
}

.default{
	background:skyblue;
}
.clicked{
	background:yellow;
}


