<div *ngIf = "loggedIn">
	<table  style="background-color:blue;">
		<tr>
			<td>
				<table style="background-color:rgb(83, 247, 8);">
					<tr>
						<td width="14%">
							<img src="assets\img\intellipredikt.png"  height = "60px" width = "280px">
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table style="background-color:rgb(83, 247, 8)"> 
					<tr>
						<td width="100%">
							<h1 align="center">Remote Diagnostics</h1>
						</td>
					</tr>
				</table>
			</td>
			<td align="center">
				<button  (click)="logout($event)">Sign out</button>
			</td>
		</tr>
		<tr>
			 
			<td width="5px" height="0px" style="vertical-align: top;"> 
			
				<table border="1px" style="vertical-align:top;" >
						<tr>
							<!--  
							<td>
								<button class="btn_realHistorical" (click)="toggleHistorical($event)">Switch to Real time</button>
							</td>
							-->
							<td>
								<div *ngIf="historical">
									<label>
									    Start Time:
										    <input [owlDateTime]="st" [owlDateTimeTrigger]="st" placeholder="DD/MM/JJJJ">
										    <owl-date-time #st (afterPickerClosed) = "setStartTime(st.dtInput.value)"></owl-date-time>
									</label>
									<p>
									<label>
									    End   Time:
										    <input [owlDateTimeTrigger]="et" [owlDateTime]="et">
										    <owl-date-time #et (afterPickerClosed) = "setEndTime(et.dtInput.value)"></owl-date-time>
									</label>
								</div>
							</td>
						</tr>
						<tr>					
						<td style="padding:10%;vertical-align:top;">
							<button [ngClass]="[btnView1]"  (click)="showView1($event)">Dashboard</button>
							<p>	
							<button [ngClass]="[btnVehicleData]"  (click)="showViewVehicleData($event)">Vehicle Data</button>
							<p>					
							<button [ngClass]="[btnPerformanceBehaviour]" (click)="showPerformanceBehaviour($event)">Driver Behaviour</button>
							<p>						
							<button [ngClass]="[btnVehicleHealth]" (click)="showVehicleHealth($event)">Vehicle Health</button>
							<p>					
							<button [ngClass]="[btnCrashReport]" (click)="showCrashReport($event)">Crash Report</button>
							<p>
							<button [ngClass]="[btnEmissionReport]" (click)="showEmissionReport($event)">Emission Report</button>
							<p>
							<button [ngClass]="[btnGeoLocation]" (click)="showGeoLocation($event)">Vehicle Location</button>
						</td>
					</tr>
				</table>					
			</td>
			
			<!--  <td  width = 1%></td> -->
			<td>
				<div>
					<table>
						<tr>
							<table>
								<tr>
								<td align="center">
									<div *ngIf="!historical">
									<h2>Real time data analysis</h2>
									</div>
									<div *ngIf="historical">
									<h2>Historical data analysis</h2>
									</div>
								</td>
								</tr>
								
							</table>
						</tr>
						
						<tr>
							<td>
								<div *ngIf="view1">
									<app-diagnostic-views [pageInfoList] = "pageInfoList"></app-diagnostic-views>
								</div>
								<div *ngIf="viewVehicleData">
									<app-vehicle-data  [pageInfoList] = "pageInfoList" ></app-vehicle-data>
								</div>
								<p>
								<div *ngIf="viewPerformanceBehaviour">
									<app-driver-behaviour [pageInfoList] = "pageInfoList"></app-driver-behaviour>
								</div>
								<p>
								<div *ngIf="viewVehicleHealth">
									<app-vehicle-health ></app-vehicle-health>
								</div>
								<p>
								<div *ngIf="viewCrashReport">
									<app-crash-report [chartData] = "chartData" [timeLine] = "timeLine"></app-crash-report>
								</div>
								<p>
								<div *ngIf="viewEmissionReport">
									<app-emission-data-monitor></app-emission-data-monitor>
								</div>
								<div *ngIf="viewGeolocation">
									<agm-map [latitude]="lat" [longitude]="long"></agm-map>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="login" *ngIf = "!loggedIn">
	<table width="100%" height="100%" bgcolor="0099CC" align="center">
		<tr>
			<td colspan=2 align="center"><h1><b>Welcome to Intellipredikt Remote diagnostics</b></h1></td>
		</tr>
	
		<tr>
			<td align="center">
			<label>
				User name:
				<input #userid (blur)="updateUserId(userid.value)">
			</label>
			</td>
		</tr>
	
		<tr>
			<td align="center">
			<label>
				Password:
				<input #passwd (blur)="updatePassword(passwd.value)">
			</label>
			</td>
		</tr>
	
		<tr>
			<td align="center">
				<button  (click)="login($event)">Sign in</button>
			</td>
		</tr>
	</table>
</div>

