<table>
	<tr>
		<td>
			<h6 align="left"><b>General Info:</b></h6>
		</td>
	</tr>
	<tr>
		<td>
			<!--{{descSegments.value[0]}}-->
		</td>
	</tr>
	<tr>
		<td>
			<h6 align="left"><b>Description:</b></h6>
		</td>
	</tr>
	<tr>
		<td>
		{{descSegments && descSegments[1]}}
		</td>
	</tr>
	
	<tr>
		<td>
			<h6 align="left"><b>Possible causes:</b></h6>
		</td>
	</tr>
	<tr>
		<td>
			{{descSegments && descSegments[2]}}
		</td>
	</tr>
	<tr>
		<td>
			<h6 align="left"><b>Diagonistic aids:</b></h6>
		</td>
	</tr>
	<tr>
		<td>
			{{descSegments && descSegments[3]}}
		</td>
	</tr>
</table>
