<table>
	<tr>
		<td width="20%">
			<h6 align="center"><b>Trouble code (s)</b></h6>
		</td>
		<td>
			<h6 align="center"><b>Description</b></h6>
		</td>
	</tr>
	<tr>
		<td width="20%">
		<div>
			<table>
				<tr  *ngFor="let pCode of pCodes">
					<td>
						<button class="btn" [ngClass]="{'btn-add': !clicked, 'btn-remove': clicked}" (click)="showpcodeDetails($event)"  (click)="clicked = true">{{pCode}}</button>
					</td>
				</tr>
			</table>
		</div>
		</td>
		<td>
			<app-description [descSegments] = "troubleDescriptionSegments" [pCode] = "selectedCode"></app-description>
		</td>	
	</tr>
</table>